<html>
	<head>
		<title>EOS Wallet Pro | Wallet</title>
		<link rel="stylesheet" type="text/css" href="wallet.css">
	</head>


	<body>
		<header id="header"><div id="header-box"><h1 id="hashbit-text" class="header-text">FeeSimple</h1><h1 id="walletpro-text" class="center header-text">FeeSimple XFS Wallet</h1><h1 id="eos-price" class="header-text">1 EOS: 23 USD</h1></div></header>

		<div id="account-details" class="center box">
			<h1 id="account-name" class="account-names">EOSIO</h1>
			<h1 id="balance-head" class="account-names">Balance: 90 EOS : $400.34</h1>
			<!-- <h1 id="ram-head" class="account-names">Ram: 99283</h1> -->
			<button id="qr-but" class="account-names button-blue">QR Address</button>
		</div>

		<div id="send-box" class="box">
			<h1 id="send-title" class="center">Transaction</h1>
			<form id="send-form">
				<p class="send-subs" id="to-sub">To Account</p>
				<input type="text" id="to" placeholder="Enter account recipient" class="send-bars center">
				<p class="send-subs" id="amount-sub">Amount to send</p>
				<input type="text" id="amount" class="send-bars center" placeholder="Enter amount to send">
				<select id="selector">
					<option value="EOS">EOS</option>
				</select>
				<p id="send-all">Send entire balance</p>
			</form>
			<button id="send-but" class="center button-green">Send Transaction</button>
		</div>

		<div id="block-info" class="box">
			<h1 class="block-tit">Last block: #1280</h1>
			<div class="block-i">
				<button class="button-blue blocks center" id="get-account">View Account History</button>
				<button class="button-green blocks center" id="lookup-account">Swap ETH <-> EOS</button>
				<button class="button-green blocks center" id="manage-ram">Manage RAM</button>
				<button class="button-green blocks center" id="buy-tokens">Purchase Tokens</button>
			</div>
		</div>

	<div id="account-box" class="center box">
		<div id="account-deets">
			<h1 id="account-deet-title">Your Account Details</h1>
			<div id="further-deets">
				<h1 id="account-balance" class="account-subs">Balance: 82309 EOS</h1>
				<p class="account-subs"> CPU:
          <meter id="cpu-limit-meter" value="0"></meter>
          <b id="cpu-limit" class="account-subs"></b>
        </p>
        <p class="account-subs"> RAM:
          <meter id="ram-meter" value="0"></meter>
          <b id="ram" class="account-subs"></b>
        </p>
        <p class="account-subs"> Bandwidth:
          <meter id="delegated-bandwidth-meter" value="0"></meter>
          <b id="delegated-bandwidth" class="account-subs"></b>
        </p>
			</div>
		</div>
		<div id="token-balance-box">
			<h1 id="token-balance-title">Your Token Balances</h1>
			<div id="columns">
				<ul id="column1">
					<li>100.000 JUNGLE <button class="button-blue column-but">Trade</button></li>
					<li>100.000 JUNGLE <button class="button-blue column-but">Trade</button></li>
				</ul>
				<ul id="column2">
					<li>300.000 ATH <button class="button-blue column-but2">Trade</button></li>
				</ul>
			</div>
		</div>
		<div id="success" class="hide"><h1 id="sucess-tit">Success! Transaction has been broadcast - TX id: 1283092819012830918391203801298132</h1></div>
	</div>
	</body>
	<script src="login.js"></script>
</html>



